#modal-id{
    background: url(../../public/Images/pru8.png);
    background-size: cover;   /* Esto hace que la imagen cubra todo el espacio disponible */
    background-repeat: no-repeat;  /* Esto evita que la imagen se repita */
    background-attachment: fixed;
  min-height: 100vh;
 
    
}
.bg-form{
    background: url(../../public/Images/pru8.png);
}
.pep{
    filter: brightness(50%);
}
.yes{
  filter: brightness(90%);

}

 
